/* фон #E5E5E5 */
/* web #4D5AE5 studio #F4F4FD */
/*  основной цвет - #2E2F42 
вторичный цвет - #434455 */
/* кнопки - #FFFFFF #4D5AE5 */
/*  цвет на картинке #F4F4FD */
/* footer #E7E9FC */


/* все теги ul без оформления */
.list {
    list-style: none;
}
.list-a{
    text-decoration: none;
}

:root {
    --text-color-h: #2E2F42;
    --text-color-p: #434455;
    --color-while: #FFFFFF;
    --color-blue: #4D5AE5;
    --color-footer: #E7E9FC;
    --color-hero-h:#F4F4FD;
}

body{
    background-color: var(--color-while);
    font-family: Roboto, sans-serif;
    color: var(--text-color-h);
}

/* header */
.logo {
    color: var(--color-blue);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}

.stud {
    color: var(--text-color-h);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* nav */
.site-nav .hover{
    color: var(--text-color-h);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.site-nav .hover:hover,
.site-nav .hover:focus {
    color: var(--text-color-p);
}
.site-nav .hover:active{
    color: var(--color-blue);
}
.site-nav .hover.current{
    color: var(--color-blue);
}

.auth-nav .hover{
    color: var(--text-color-p);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.auth-nav .hover:hover,
.auth-nav .hover:focus{
    color: var(--color-blue);
}

/* Section */
.hero {
    background-color: var(--text-color-h);
}

.hero-our {
    background-color: var(--color-hero-h);
}

.hero-h {
    color: var(--color-while);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
}

.section,
.section-title-h {
    color: var(--text-color-h);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section,
.section-title-p {
    color: var(--text-color-p);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero-centr {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

/* footer */
.footer {
    background-color: var(--text-color-h);
}

/* color footer */
.footer-stud {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer.text {
    color: var(--color-footer);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* button */
.button {
    color: var(--text-color-h);
    cursor: pointer;
}

.section .button.secondary-main {
    color: var(--color-while);
    background-color: var(--color-blue);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    text-align: center;
}

.section .button.secondary-main:hover,
.section .button.secondary-main:focus {
    color: var(--color-while);
    background-color: var(--color-blue);
}
.section .button.secondary-main:active{
    color: var(--color-while);
    background-color:#404BBF;
}
.button.secondary {
    color: var(--color-blue);
    background-color: var(--color-footer);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--color-while);
    background-color: var(--color-blue);
}